<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Employ-Mapper">
   
	<sql id="search">
		<if test="searchType == 'n'.toString()">
			and name like '%'||#{keyword}||'%'
		</if>
	</sql>
   
	<select id="selectEmployList" resultType="teacher">
		select
		*
		from
		teacher
		where tid is not null
		<include refid="search"/>
		order by tid desc
	</select>
	
	<select id = "getTotalCount" resultType="int">
		select count(*)
		  from teacher
		 where tid is not null
		 <include refid="search"/>
		 order by tid desc
	</select>
	
	<update id="insertTeacher" parameterType="teacher">
		insert into teacher(tid, servstts, position, name, pwd, regno1, regno2, email, addr1, addr2, zip, phone, author, kid, cno)
		 values(#{tid},'재직','교사',#{name},#{pwd},#{regno1},#{regno2},#{email},
		 		#{addr1},#{addr2},#{zip},#{phone},'ROLE_TEACHER', 1, #{cno})
	</update>
	
	<select id = "getTeacher" resultType="teacher">
		select * from teacher where tid = #{tid}
	</select>
</mapper>